body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #2d2e32;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 2.5vw;
    justify-content: space-between;
    align-items: center;
}

.leftnavcontent {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    width: 20vw;
}

.rightnavcontent {
    padding-left: 0.833vw;
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

.rightnavcontent-home {
    padding-left: 0.833vw;
    color: #4dba87;
    text-decoration: none;
    font-size: 2vh;
    transition: all 0.4s;
}

.rightnavcontent-home:hover {
    color: #85ffc6;
    transition: all 0.4s;
}

.top-container {
    margin-top: 0.833vw;
    margin-bottom: 2.5vw;
    margin-inline: 4.167vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-tag {
    border: none;
    border-radius: 0.167vw;
    padding: 0.208vw 1.667vw;
    color: #2d2e32;
    font-size: 0.667vw;
    font-weight: 600;
    background-color: #4dba87;
    cursor: pointer;
    text-align: center;
    width: 5.833vw;
    cursor: default
}

.top-text {
    color: white;
    font-size: 1.25vw;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.top-text-1 {
    h2 {
        margin-bottom: 0.2vw;
    }

}

.top-text-2 {
  h2 {
    margin-top: 0.2vw;
    margin-bottom: 0.1vw;
  }
}

.bottom-text {
    color: #777;
    font-size: 0.833vw;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.download-contact {
    a {
        color: #4dba87;
        font-weight: 600;
    }
}

.bottom-container {
    background-color: #25262a;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
}

.block {
    background-color: #2d2e32;
    border-radius: 5px;
    margin: 1.667vw;
    padding: 0.833vw;
}

.block h1 {
    color: #4dba87;
}

.block p {
    color: white;
}

.block a {
    color: #777;
    font-weight: 600;
}

.block-text {
    font-size: 1vw;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title h1 {
    color: #4dba87;
    font-size: 2em;
    margin: 0;
}

.open-projects {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}

.opentext {
    font-size: 1vw;
    margin: 0;
    display: flex;
    align-items: center;
}

.openB {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.openbutton {
    padding: 0;
    border: none;
    background: none;
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.openbutton img {
    width: 100%;
    height: auto;
    margin-top: 0.25vh;
}

.logo-roll {
    display: flex;
    justify-content: space-around;
    background-color: #25262a;
    padding: 0.833vw;
    align-items: center;
}

.roll-image {
    width: 10%;
    height: 10%;
}

.footer-content {
    padding: 1.667vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    color: white;
    font-size: 0.833vw;
    font-weight: 600;
    padding: 0;
}

.project-details {
    max-height: 0; /* Start with height 0 */
    overflow: hidden; /* Hide the overflow */
    opacity: 0; /* Start with opacity 0 */
    border-radius: 5px;
    margin: 1.667vw;
    background: #2d2e32;
    padding: 0.833vw;
    margin-top: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Add transition effects */
}

.project-details.show {
    max-height: 1000px; /* Set a large enough height to accommodate content */
    opacity: 1; /* Make it fully visible */
}

.project-card {
    display: flex;
    align-items: center;
    gap: 1.667vw;
}

.project-image {
    width: 15.625vw;
    height: auto;
    border-radius: 5px;
}

.project-content h2 {
    color: #4dba87;
    margin: 0 0 0.833vw;
}

.project-content p {
    color: white;
    margin: 0 0 1.667vw;
}

.project-tags {
    display: flex;
    gap: 0.833vw;
}

.tag {
    background-color: #4dba87;
    color: #2d2e32;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    font-weight: 600;
}